a:link{
color: red;
}
a:hover{
    color: blue;
    background-color: rgb(127, 150, 26);
}
a:visited{
    border-color: brown;
}
.header{
    background-color: blue;
}
table{
    background-color: skyblue;
    border: double;
}
body{
    background-image: url(/image/barber-shop.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 50px;
    background-color: darkcyan;
}
img{
    width: 70px;
    float: left;
}
